{extend name="layout/base" /}

{block name="content"}

<div id="table" class="box" >
	<div class="box-body">
		<div class="row">
			<div class="col-sm-12">
				{include file="layout/option"/}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<table class="table table-bordered table-striped table-hover" >
					<thead>
					<tr >
						<th class="" width="15%">package</th>
						<th class="" width="15%">名称</th>
						<th class="" width="">描述</th>
						<th class="" width="8%">作者</th>
						<th class="" width="8%">版本</th>
						<th class="" width="6%">排序</th>
						<th class="" width="16%">状态</th>
					</tr>
					</thead>
					<tbody>
					{foreach $paging as $v}
					<tr data-name="{$v.name}">
						<td>{$v.name}</td>
						<td>{$v.title}</td>
						<td>{$v.description}</td>
						<td>{$v.author}</td>
						<td>{$v.version}</td>
						<td>{$v.sort}</td>
						<td>{$v.status_format}</td>
					</tr>
					{/foreach}
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>


<script>
	$(function(){

	});
</script>
{/block}