<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit" />
	<title>{:config('web_title')}{$app.current.title ? '-'.$app.current.title : ''}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="baidu-site-verification" content="RqxVzdPenO" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="applicable-device" content="mobile" />
	<meta name="applicable-device" content="pc" />
	<meta name="applicable-device" content="pc,mobile" />
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="x-dns-prefetch-control" content="on"/>

	{include file="layout/front"/}
	{block name="front"}{/block}
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini skin-blue" >

{include  file="layout/modal" /}

<div class="wrapper">

	<!-- Main Header -->
	{include file="layout/header"/}

	<!-- Left side column. contains the logo and sidebar -->
	{include file="layout/menubar"/}

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header" id="content-header">
			<h1>
				{{ current.title ? current.title : '' }}
				<small>{{ current.name ? current.name : '' }}</small>
			</h1>
			<ol class="breadcrumb">
				<li v-if="checked" v-for="item in checked">
					<a href="javascript:;">
						<i class="fa" :class="item.icon ? item.icon : 'fa-link'"></i>{{ item.title }}
					</a>
				</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content container-fluid">
			{block name="content"}{/block}
		</section>
	</div>

	<!-- Main Footer -->
	{include file="layout/footer"/}

	<!-- Control Sidebar -->
	{include file="layout/toolbar"/}
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
{include file="layout/script"/}

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>