<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script type="text/javascript" charset="utf-8" src="/resource/asset/adminlte/js/html5shiv.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/resource/asset/adminlte/js/respond.min.js"></script>
<![endif]-->

<link rel="stylesheet" href="/resource/asset/css/admin.css">
<script src="/resource/lib/requirejs/require.js" ></script>
<script src="/resource/asset/js/require.config.js?_={:time()}" ></script>
<script src="/resource/asset/js/run.js?_={:time()}"></script>