
<link rel="stylesheet" type="text/css" href="/static/dwz/themes/default/style.css"/>
<link rel="stylesheet" type="text/css" href="/static/dwz/themes/css/core.css"/>
<link rel="stylesheet" type="text/css" href="/static/dwz/themes/css/print.css"/>
<link rel="stylesheet" type="text/css" href="/static/dwz/uploadify/css/uploadify.css" />

<!--[if IE]>
<link rel="stylesheet" type="text/css" href="/static/dwz/themes/css/ieHack.css"/>
<![endif]-->

<!--[if lt IE 9]><script type="text/javascript" src="/static/dwz/js/speedup.js"></script><script type="text/javascript" src="/static/dwz/js/jquery-1.11.3.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script type="text/javascript" src="/static/dwz/js/jquery-2.1.4.min.js"></script><!--<![endif]-->

<script type="text/javascript" src="/static/dwz/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/dwz/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/dwz/js/jquery.bgiframe.js"></script>
<script type="text/javascript" src="/static/dwz/xheditor/xheditor-1.2.2.min.js"></script>
<script type="text/javascript" src="/static/dwz/xheditor/xheditor_lang/zh-cn.js"></script>
<script type="text/javascript" src="/static/dwz/uploadify/scripts/jquery.uploadify.js"></script>

<!-- svg图表  supports Firefox 3.0+, Safari 3.0+, Chrome 5.0+, Opera 9.5+ and Internet Explorer 6.0+ -->

<script type="text/javascript" src="/static/dwz/chart/raphael.js"></script>
<script type="text/javascript" src="/static/dwz/chart/g.raphael.js"></script>
<script type="text/javascript" src="/static/dwz/chart/g.bar.js"></script>
<script type="text/javascript" src="/static/dwz/chart/g.line.js"></script>
<script type="text/javascript" src="/static/dwz/chart/g.pie.js"></script>
<script type="text/javascript" src="/static/dwz/chart/g.dot.js"></script>

<!-- <load href='http://api.map.baidu.com/api?v=2.0&ak=6PYkS1eDz5pMnyfO0jvBNE0F' /> -->
<!-- <load href='http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js' /> -->


<script type="text/javascript" src="/static/dwz/chart/g.dot.js"></script>

<script type="text/javascript" src="/static/dwz/chart/g.dot.js"></script>

<script type="text/javascript" src="/static/dwz/chart/g.dot.js"></script>
<script type="text/javascript" src="/static/dwz/chart/g.dot.js"></script>
<script type="text/javascript" src="/static/dwz/chart/g.dot.js"></script>
<script type="text/javascript" src="/static/dwz/chart/g.dot.js"></script>
<script type="text/javascript" src="/static/dwz/chart/g.dot.js"></script>

<script type="text/javascript" src="/static/dwz/js/dwz.core.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.util.date.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.validate.method.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.barDrag.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.drag.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.tree.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.accordion.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.ui.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.theme.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.switchEnv.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.alertMsg.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.contextmenu.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.navTab.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.tab.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.resize.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.dialog.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.dialogDrag.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.sortDrag.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.cssTable.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.stable.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.taskBar.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.ajax.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.pagination.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.database.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.datepicker.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.effects.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.panel.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.checkbox.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.history.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.combox.js"></script>
<script type="text/javascript" src="/static/dwz/js/dwz.print.js"></script>

<!-- 可以用dwz.min.js替换前面全部dwz.*.js (注意：替换时下面dwz.regional.zh.js还需要引入)
<script type="text/javascript" src="/static/dwz/bin/dwz.min.js"></script>
-->

<script type="text/javascript" src="/static/dwz/js/dwz.regional.zh.js"></script>

<script>
	$(function(){
		DWZ.init("/static/dwz/dwz.frag.xml", {
			loginUrl:"login_dialog.html", loginTitle:"登录",	// 弹出登录对话框
//		loginUrl:"login.html",	// 跳到登录页面
			statusCode:{ok:200, error:300, timeout:301}, //【可选】
			pageInfo:{pageNum:"pageNum", numPerPage:"numPerPage", orderField:"orderField", orderDirection:"orderDirection"}, //【可选】
			keys: {statusCode:"statusCode", message:"message"}, //【可选】
			ui:{hideMode:'display'}, //【可选】hideMode:navTab组件切换的隐藏方式，支持的值有’display’，’offsets’负数偏移位置的值，默认值为’display’
			debug:false,	// 调试模式 【true|false】
			callback:function(){
				initEnv();
				$("#themeList").theme({themeBase:"themes"}); // themeBase 相对于index页面的主题base路径
			}
		});
	});
</script>

{//自定义start}
<link rel="stylesheet" type="text/css" href="/static/admin/css/css.css" />

<script type="text/javascript" src="/static/common/js/tool.js"></script><!-- 自定义函数库 -->
<script type="text/javascript" src="/static/admin/js/date.format.js"></script><!-- 时间库 -->
<script type="text/javascript" src="/static/admin/js/area.js"></script><!-- 地区文件 -->

<script type="text/javascript">
	var	admin = {
		//全局ajax请求标记
		loading   : false,
		//接口
		api       : {},
		//权限
		auth      : {},
		//公告
		bulletin  : {},
		//配置
		config    : {},
		//客户
		customer  : {},
		//数据库
		database  : {},
		//论坛
		forum     : {},
		//首页
		index     : {
			/**
			 * 退出登录
			 * @returns {boolean}
			 */
			logout: function () {
				if (admin.loading == true) return false;
				admin.loading = true;
				$.post("{:url('open/logout')}", {}, function (data, status) {
					if (status == 'success') {
//						_inform(data.msg, function () {
//							if (data.code == 0) window.location.href = data.data.url;
//						});
						tool.inform({
							msg : data.msg,
							callback : function () {
								if (data.code == 0) window.location.href = data.data.url;
							}
						});
					}
					admin.loading = false;
				}, 'json');
			},
		},
		//开放
		open      : {},
		//组织架构
		position  : {},
		//传输
		transmit  : {
			//uploadify返回数据
			uploadifyReturnData : [],
			/**
			 * uploadify上传成功回调函数
			 * @param file 文件信息
			 * @param data 返回信息
			 * @param response 请求状态
			 * @param obj 当前对象
			 */
			uploadifySuccess : function(file, data, response, obj){
				if(response){
					data = $.parseJSON(data);
					if(data.code == 0){
						admin.transmit.uploadifyReturnData[admin.transmit.uploadifyReturnData.length]=data.data;
						alertMsg.correct(data.msg);
					}else{
						alertMsg.error(data.msg);
					}
				}else{
					alertMsg.warn('未响应');
				}
			},
			/**
			 * 上传结束执行
			 * @param settings uploadify参数
			 */
			uploadifyComplete : function(settings,obj){
				var oFile = obj.wrapper.parent().prevAll('.fileInput'); //上传框对象
				if(!admin.transmit.uploadifyReturnData.length) return true;
				var oFileHtml = oFile.find('.fileCase *').first(); //上传内容展示
				var sFileHtml = '';
				var sFileIds  = '';
				$.each(admin.transmit.uploadifyReturnData,function (k,v) {
					//url
					oFileHtml.attr('src',v.url);
					sFileHtml += oFileHtml[0].outerHTML;
					//id
					sFileIds += v.id;
					if(admin.transmit.uploadifyReturnData.length != k+1) sFileIds += ',';
				});
				oFile.find('.fileCase').html(sFileHtml);
				oFile.find('input').val(sFileIds);
				admin.transmit.uploadifyReturnData = []; //初始化
			},
		},
		//用户
		user     : {},
	};
</script>
{//自定义end}