<header class="main-header">

	<!-- Logo -->
	<a href="/" class="logo">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini">{:config('web_title')}</span>
		<!-- logo for regular state and mobile devices -->
		<span class="logo-lg">{:config('web_title')}</span>
	</a>

	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>
		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">

				<li class="dropdown">
					<a href="/" target="_blank"><i class="fa fa-home" ></i></a>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-language"></i></a>
					<ul class="dropdown-menu">
						<li class="active">
							<a href="lang=zh-cn">简体中文</a>
						</li>
						<li class="">
							<a href="lang=en">English</a>
						</li>
					</ul>
				</li>
				<li class="dropdown" >
					<a href="#" id="fullscreen" ><i class="fa fa-arrows-alt"></i></a>
				</li>
				<!-- User Account Menu -->
				<li class="dropdown user user-menu">
					<!-- Menu Toggle Button -->
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<!-- The user image in the navbar-->
						<img src="{:session('face')}" class="user-image" alt="">
						<!-- hidden-xs hides the username on small devices so only the image appears. -->
						<span class="hidden-xs">{:session('nickname')}</span>
					</a>
					<ul class="dropdown-menu">
						<!-- The user image in the menu -->
						<li class="user-header">
							<img src="{:session('face')}" class="img-circle" alt="">
							<p>
								{:session('nickname')}
								<small>{:date('Y-m-d H:i',session('user.last_login_time'))}</small>
							</p>
						</li>
						<!-- Menu Body -->
						<li class="user-body">
							<div class="row">
								<div class="col-xs-4 text-center">
									<a href="#">Followers</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Sales</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Friends</a>
								</div>
							</div>
							<!-- /.row -->
						</li>
						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-left">
								<a href="{:url('user/user_info')}" class="btn btn-default  ">
									<i class="fa fa-user"></i>
									个人信息
								</a>
							</div>
							<div class="pull-right">
								<a href="{:url('open/logout')}" class="btn btn-default  ">
									<i class="fa fa-sign-out"></i>
									注销
								</a>
							</div>
						</li>
					</ul>
				</li>
				<!-- Control Sidebar Toggle Button -->
				<li>
					<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
				</li>
			</ul>
		</div>
	</nav>
</header>