{extend name="layout/base" /}

{block name="content"}

<?php
switch($code){
	//success
	case 1:
		$content = 'fa-check';
		break;
	//error
	case 0:
		$content = 'fa-close';
		break;
}

?>

<div class="error-page">
	<h2 class="headline text-black">
		<i class="fa {$content}"></i>
	</h2>
	<div class="error-content">
		<h3>&nbsp;</h3>
		<h3>
			<i class="fa fa-refresh fa-spin text-gray"></i>
			&nbsp;&nbsp;{:strip_tags($msg)}
		</h3>
		<h3 style="font-size:16px;">
			页面自动 <a id="href" href="{$url}">跳转</a> 等待时间：<b id="wait">{$wait}</b>
		</h3>
	</div>
	<!-- /.error-content -->
</div>

<script type="text/javascript">
	(function(){
		var wait = document.getElementById('wait'),
				href = document.getElementById('href').href;
		var interval = setInterval(function(){
			var time = --wait.innerHTML;
			if(time <= 0) {
				location.href = href;
				clearInterval(interval);
			};
		}, 1000);
	})();
</script>
{/block}