
<aside class="main-sidebar" >

	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar" >

		<!-- Sidebar user panel (optional) -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="{:session('face')}" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>{:session('nickname')}</p>
				<!-- Status -->
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>

		<!-- search form (Optional) -->
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Search...">
				<span class="input-group-btn">
				  <button type="submit" name="search" id="search-btn" class="btn btn-flat">
					  <i class="fa fa-search"></i>
				  </button>
				</span>
			</div>
		</form>
		<!-- /.search form -->

		<!-- 主菜单栏组件 -->
		<menu-list id="main-menu" :param="data" :is_bar="1"></menu-list>

	</section>
	<!-- /.sidebar -->
</aside>