
<div class="modal fade " id="modal-alert" tabindex="-1" role="dialog" aria-labelledby="modal-alert-label" >
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content" style="border-radius:8px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-alert-label"><i class="fa  fa-check"></i> 提示</h4>
			</div>
			<div class="modal-body" style="text-align:center;">
				...
			</div>
			<div class="modal-footer">

			</div>
		</div>
	</div>
</div>

<div class="modal" id="modal-shade" tabindex="-1" role="dialog" aria-labelledby="modal-shade-label" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-sm" role="document" style="text-align:center;">
		<i class="fa fa-refresh fa-spin " style="font-size:100px;"></i>
	</div>
</div>