<div class="pages">
	<span>显示</span>
	<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
		<option value="10" {if condition="$page['limit'] eq 10 "}selected{/if}>10</option>
		<option value="20" {if condition="$page['limit'] eq 20 "}selected{/if}>20</option>
		<option value="30" {if condition="$page['limit'] eq 30 "}selected{/if}>30</option>
		<option value="50" {if condition="$page['limit'] eq 50 "}selected{/if}>50</option>
		<option value="100" {if condition="$page['limit'] eq 100 "}selected{/if}>100</option>
	</select>
	<span>条，共{$page.total}条数据，共{:ceil($page['total']/$page['limit'])}页</span>
</div>
<div class="pagination" targetType="navTab" totalCount="{$page.total}" numPerPage="{$page.limit}" pageNumShown="20" currentPage="{$page.page}"></div>