
<script type="text/javascript">
	$(function(){

		app.run();
	});

	var app = {
		//请求中标识
		loading : false,
		/**
		 * 初始化
		 */
		run : function(){
			//菜单
			app.menu.init();

			//表单
			app.table.init();

			//select2
			app.select2.init();

			//validator
			app.validator.init();
		},
		/**
		 * 菜单
		 */
		menu : {
			//初始化
			init : function(){
				var $menu = $('#main-menu');
				var $data_menu = JSON.parse($menu.attr('data-menu'));
				var $data_checked = JSON.parse($menu.attr('data-checked'));
				var $html = this.treeview($data_menu,$data_checked);
				$menu.html($html);
				$menu.attr('data-checked','').attr('data-menu','');
				$menu.find('a.menu-item').on('click',this.ajax);
			},
			/**
			 * 主菜单初始化
			 * @param {object} data
			 */
			treeview : function(data,checked){
				var $this = this;
				var $function = function(data){
					var $string = '';
					for(var k in data){
						var is_child = data[k]['child'].length > 0;
						var is_checked = checked[data[k]['id']] ? 1 : 0;
						$string += '<li class="' + (is_child ? 'treeview' : '') + (is_checked ? ' menu_open active' : '')+'  " >'
								+ '	<a class="menu-item" href="' + (data[k].name ? '/' + data[k].name : '#') + '" '
								+ ' data-title="'+data[k].title+'" '
								+ ' data-request-type="'+data[k].request_type+'" >'
								+ '		<i class="fa ' + (data[k].icon ? data[k].icon : 'fa-link') + ' "></i>'
								+ '		<span>' + data[k].title + '</span>';
						if(is_child){
							$string += '<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>';
						}
						$string += '	</a>';
						if(is_child){
							$string += '<ul class="treeview-menu" '+(is_checked ? ' style="display:block;" ' : '')+'>'
									+ $function(data[k]['child'])
									+ '</ul>';
						}
						$string += '</li>';
					}
					return $string;
				};
				return '<li class="treeview header">HEADER</li>'+$function(data);
			},
			/**
			 * 菜单ajax请求
			 */
			ajax : function(){
				var $action = $(this);
				if($action.attr('data-request-type')==1){
					var $button = {'确定' : function(){
						if(app.loading == true){
							app.alert('当前有请求还未完成，请稍后再试...',{code:1002});
							return false;
						}
						app.shade('show');
						app.loading = true;
						$.post($action.attr('href'),{},function(data,status){
							if(status == 'success' && data.code!=undefined){
								if(data.code==0){
									app.alert(data.msg,{code:0,onHidden:function(){
										window.location.reload();
									}});
								}else{
									app.alert(data.msg,{code:1000});
								}
							}else{
								console.log(data);
								app.alert('请求失败',{code:1002});
							}
							app.loading = false;
							app.shade('hide');
						});
					}};
					app.alert('确定“'+$action.attr('data-title')+'”？',{button:$button,code:1001});
					return false;
				}
			}
		},

		/**
		 * 表单
		 */
		table : {
			//搜索框jquery对象
			search : null,
			//table表格jquery对象
			table : null,
			//初始化
			init : function(){
				//元素对象初始化
				this.search = $('div#search');
				this.table = $('div#table');

				//排序
				this.orderInit("{:input('order','')}");

				//全选事件
				this.checkInit();

				//表格选择
				this.selectInit();

				//菜单选项初始化
				this.optionInit();
			},
			/**
			 * 表格排序初始化
			 * @param {object} $rule 如：id asc
			 */
			orderInit: function($rule){
				var $this = this;
				var $orders = $this.table.find('[order-field]');
				if(!$orders.length){
					return false;
				}
				$rule = $rule ? $rule.split(' ',2) : [];
				$.each($orders, function(k, v){
					var $order = $(v);
					//响应初始化
					if($rule.length==2){
						$order.removeClass('order-asc').removeClass('order-desc');
						if($order.attr('order-field') == $rule[0]){
							$order.addClass('order-'+$rule[1]);
						}
					}
					//初始化icon
					if(!$order.find('.order-icon').length){
						$order.find('.order-icon').remove();
					}
					var $icon = 'fa-sort';
					var $color = 'D6D6D6';
					if($order.hasClass('order-asc')){
						$icon = 'fa-sort-asc';
						$color = '999999';
					}else if($order.hasClass('order-desc')){
						$icon = 'fa-sort-desc';
						$color = '999999';
					}
					var $html = '<div class="order-icon" style="float:right;cursor:pointer;">'
							+ '<i class="fa ' + $icon + '" style="color:#' + $color + ';"></i>'
							+ '</div>';
					//绑定事件
					$($html).on('click',function(){
						var $th = $(this).closest('th');
						//生成排序格式字段
						var $order_field = $th.attr('order-field')+($th.hasClass('order-asc') ? ' desc' : ' asc');
						//放入隐藏表单
						$this.search.find('input[name=order]').val($order_field);
						//提交
						$this.search.find('form').submit();
					}).appendTo($order);
				});
			},
			/**
			 * 全选checkbox初始化
			 */
			checkInit : function(){
				var $this = this;
				//全选事件
				$this.table.find('span.table-checkall').on('click',function(){
					var $span = $(this);
					var $tr = $this.table.find('tbody').find('tr');
					if($span.hasClass('selected')){
						$tr.removeClass('selected');
						$span.removeClass('selected');
					}else{
						$tr.addClass('selected');
						$span.addClass('selected');
					}
				});
				//反选事件
				$this.table.find('span.table-checkinvert').on('click',function(){
					var $trs = $this.table.find('tbody').find('tr');
					$.each($trs,function(k,v){
						var $tr = $(v);
						$tr.hasClass('selected') ? $tr.removeClass('selected') : $tr.addClass('selected');
					});
				});
			},
			/**
			 * 表格点击变色
			 */
			selectInit : function(){
				var $this = this;
				var $trs = $this.table.find('tbody').find('tr');
				$trs.on('click',function(){
					var $tr = $(this);
					$tr.hasClass('selected')
							? $tr.removeClass('selected')
							: $tr.addClass('selected');
				});
			},
			/**
			 * 获取选中的数据
			 */
			getParam : function(){
				return this.table.find('tbody').find('tr.selected');
			},
			/**
			 * 菜单选项初始化
			 */
			optionInit : function(){
				var $this = this;
				$this.table.find('a.menu-option').on('click',function(){
					var $action = $(this);
					var $param = {};
					var $trs = $this.getParam();
					//请求参数
					var $name = $action.attr('data-param-name') ? $action.attr('data-param-name') : 'id';
					var $value = '';
					$.each($trs,function(k,v){
						var $tr = $(v);
						var $data = $tr.attr('data-'+$name);
						$value += (k==0 ? '' : ',')+$data;
					});
					$param[$name] = $value;
					switch($action.attr('data-param-num')){
						//无
						case '0':
							break;
						//1个
						case '1':
							if($trs.length!=1){
								app.alert('选择1条数据');
								return false;
							}
							$param[$name] = $value;
							break;
						//多个
						case '2':
							if($trs.length<=0){
								app.alert('至少选择1条数据');
								return false;
							}
							break;
						//1个或无
						case '3':
							if($trs.length!=0 && $trs.length!=1){
								app.alert('不选择或选择1条数据');
								return false;
							}
							break;
					}
					//普通页面和ajax提交
					var $url = $action.attr('href');
					switch($action.attr('data-request-type')){
						//普通页面
						case '0':
							app.shade('show');
							var $params = Object.keys($param).map(function (key) {
								return encodeURIComponent(key) + "=" + encodeURIComponent($param[key]);
							}).join("&");
							window.location.href = $url+($params ? '?'+$params : '');
							break;
						//ajax提交
						case '1':
							var $button = {'确定' : function(){
								if(app.loading == true){
									app.alert('当前有请求还未完成，请稍后再试...',{code:1002});
									return false;
								}
								app.shade('show');
								app.loading = true;
								$.post($url,$param,function(data,status){
									if(status == 'success' && data.code!=undefined){
										if(data.code==0){
											app.alert(data.msg,{code:0,onHidden:function(){
												window.location.reload();
											}});
										}else{
											app.alert(data.msg,{code:1000});
										}
									}else{
										console.log(data);
										app.alert('请求失败',{code:1002});
									}
									app.loading = false;
									app.shade('hide');
								});
							}};
							app.alert('确定“'+$action.attr('data-title')+'”？',{button:$button,code:1001});
							break;
					}
					return false;
				});
			},
			/**
			 * 搜索框
			 */
			searchInit : function(){
				var $this = this;
				var $current = JSON.parse('{:json_encode($app["current"])}');
				$key = 'search_clear_'+$current.name;
				//隐藏搜索栏
				if(window.localStorage.getItem($key)==1){
					var $i = $this.search.find('button[data-widget=collapse]').find('i');
					$i.removeClass('fa-minus').addClass('fa-plus');
					$this.search.addClass('collapsed-box');
				}
				$this.search.find('button[data-widget=collapse]').on('click',function(){
					var $button = $(this);
					var $value = $button.find('i').hasClass('fa-minus') ? 1 : 0;
					window.localStorage.setItem($key,$value)
				});
			},
		},
		/**
		 * 权限
		 */
		auth : {
			treeview : function(rule_list,parent_id,id){
				var $this = this;
				var $function = function(data,is_examine){
					var $string = '';
					for(var k in data){
						var is_child = data[k]['child'].length > 0;
						var is_checked = parent_id==data[k]['id'] ? 1 : 0;
						var is_self = is_examine || id==data[k]['id'];
						$string += '<ul style="list-style:none;"><li style="list-style:none;"><label class="radio-inline">';
						if(!is_self){
							$string += '<input type="radio" name="parent_id" value="'+data[k]['id']+'" '+(is_checked ? 'checked' : '')+'> ';
						}
						$string += '<span class="fa '+(data[k]['icon'] ? data[k]['icon'] : 'fa-link')+'"></span> '+data[k]['title']+'</label></li>';
						if(is_child){
							$string += $function(data[k]['child'],is_self);
						}
						$string	+= '</ul>';
					}
					return $string;
				};
				return '<label class="radio-inline"><input type="radio" name="parent_id" value="0" '+(parent_id==0 ? 'checked' : '')+'><span class="fa fa-folder-open-o"></span> 根目录</label>'
						+$function(rule_list);
			},
			checkTreeview : function(rule_list,checked_ids){
				var $this = this;
				var $function = function(data){
					var $string = '';
					for(var k in data){
						var is_child = data[k]['child'].length > 0;
						var is_checked = $.inArray(data[k]['id'].toString(), checked_ids) >= 0 ? 1 : 0;
						$string += '<ul style="list-style:none;"><li style="list-style:none;"><label class="radio-inline">';
						$string += '<input type="checkbox" name="rule_ids[]" value="'+data[k]['id']+'" '+(is_checked ? 'checked' : '')+'> ';
						$string += '<span class="fa '+(data[k]['icon'] ? data[k]['icon'] : 'fa-link')+'"></span> '+data[k]['title']+'</label></li>';
						if(is_child){
							$string += $function(data[k]['child']);
						}
						$string	+= '</ul>';
					}
					return $string;
				};
				return $function(rule_list);
			},
		},
		/**
		 * 模态框
		 * @param msg
		 * @param option
		 */
		alert: function(msg,option){
			//默认配置
			var $option = {
				code : 1000, //状态码
				msg : '', //消息内容
				title : null, //标题
				prompt : 0, //是否有输入框
				button : {}, //操作按钮
				size : 'sm', //尺寸
				time : 0, //停留秒数，0为不限时
				modal : $('#modal-alert'), //模态框jquery对象
				input : function(){ //获取输入框内容
					return this.modal.find('.modal-body').find('textarea').val();
				},
				onShow : null,
				onShown : null,
				onHide : null,
				onHidden : null,
				onLoaded : null,
			};
			if(typeof msg == "object"){
				$.extend($option, msg);
			}else{
				$option.msg = msg ? msg : '';
				option && $.extend($option, option);
			}
			//模态框
			var $code= {
				0 : '<i class="fa fa-check text-green"></i>',
				1000 : '<i class="fa fa-close text-red"></i>',
				1001 : '<i class="fa fa-bell-o"></i>',
				1002 : '<i class="fa fa-exclamation-triangle text-yellow"></i>',
			};
			//标题
			var $title = ($code[$option.code] || $code[1000])+($option.title===null ? '' : ' '+$option.title);
			$option.modal.find('.modal-title').html($title);
			//内容
			$body = $option.msg;
			if($option.prompt){
				$body += '<textarea class="form-control" rows="4" placeholder="Enter ..." ></textarea>';
			}
			$option.modal.find('.modal-body').html($body);
			//按钮
			$option.modal.find('.modal-footer').html('<button type="button" class="btn btn-default " data-dismiss="modal">关闭</button>');
			$.each($option.button,function(k,v){
				var $button = $('<button type="button" class="btn btn-primary " data-dismiss="modal">'+k+'</button>');
				v && $button.on('click',function(e){
					setTimeout(function(){v($option,e);},500);
				});
				$option.modal.find('.modal-footer').append($button);
			});
			//大小
			$option.modal.find('.modal-dialog').removeClass('modal-sm','modal-lg').addClass($option.size && 'modal-'+$option.size);
			//事件
			$option.modal.off();
			$option.onShow && $option.modal.on('show.bs.modal',function(e){ $option.onShow($option,e);});
			$option.onShown && $option.modal.on('shown.bs.modal',function(e){ $option.onShown($option,e);});
			$option.onHide && $option.modal.on('hide.bs.modal',function(e){ $option.onHide($option,e);});
			$option.onHidden && $option.modal.on('hidden.bs.modal',function(e){ $option.onHidden($option,e);});
			$option.onLoaded && $option.modal.on('loaded.bs.modal',function(e){ $option.onLoaded($option,e);});
			//定时消失
			$option.time && setTimeout(function(){
				$option.modal.modal('hide');
			},$option.time*1000);
			//显示模态框
			$option.modal.modal();
		},
		/**
		 * 遮罩层
		 */
		shade : function(option){
			option = option || 'toggle';
			$('#modal-shade').modal(option);
		},
		/**
		 * select2
		 */
		select2 : {
			/**
			 * 初始化
			 */
			init : function(){
				//select2插件
				$(".select2").select2();
			},
		},
		/**
		 * bootstrap-validator
		 */
		validator : {
			/**
			 * 初始化
			 */
			init : function (){
				//bootstrap validator init
				$.extend($.fn.bootstrapValidator.DEFAULT_OPTIONS, {
					//live : 'disabled',
				});
				//表单校验
				$(".form-validator").bootstrapValidator();
			},
		},
	};


</script>