
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{:config('web_title')}-登录</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script type="text/javascript" charset="utf-8" src="/resource/asset/adminlte/js/html5shiv.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/resource/asset/adminlte/js/respond.min.js"></script>
    <![endif]-->
    <script src="/resource/lib/requirejs/require.js" ></script>
    <script src="/resource/asset/js/require.config.js?_={:time()}" ></script>


</head>
<body class="hold-transition " style="background-color: #d2d6de;">
<div class="row" style="width:400px;margin:2% auto;">
    <div class="col-md-12">
        <div style="font-size: 35px; text-align: center; margin-bottom: 25px; font-weight: 300;">
            <a href="/" style="color:#444;">{:config('web_title')}</a>
        </div>
        <div class="box ">
            <form action="{:url()}" class="form-horizontal form-validator" method="post" id="login" @submit.prevent="login">
                <div class="box-body">
                    <p style="text-align: center;margin:5% auto;">帐号登录</p>
                    <div class="form-group has-feedback">
                        <div class="col-sm-12">
                            <input name="username" value="" type="text"  class="form-control" placeholder=""
                                   required minlength="1" maxlength="20">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-sm-12">
                            <input name="password" value="" type="password"  class="form-control" placeholder=""
                                   required minlength="1" maxlength="20">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                    </div>

                    <!--$captcha-->

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="checkbox">
                                <label>
                                    <input name="remember" value="1" type="checkbox"> 7天内记住帐号
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-info pull-right">登录</button>

                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    require([
        'jquery',
        'vue',
        'layer',
        'adminlte',
        'bootstrap',
        'icheck'
    ], function($, Vue, layer){
        layer.config({
            path: '/resource/lib/layer/dist/'
        });
//        $('input').iCheck({
//            checkboxClass: 'icheckbox_square-blue',
//            radioClass: 'iradio_square-blue',
//            increaseArea: '20%' // optional
//        });

        //主菜单
        var login = new Vue({
            el: '#login',
            data: {
                data : []
            },
            computed : {},
            methods: {
                login : function(event){
                    var form = $(event.currentTarget);
                    //提交表单
                    $.post(form.attr("action"),form.serialize(),function(data,status){
                        if(status == 'success'){
                            layer.msg(data.msg,{
                                time : 1000,
                                end : function(){
                                    if(data.code == 0){
                                        window.location.href = data.data.url;
                                    }
                                }
                            });
                        }
                    },'json');
                }
            }
        });

    });

</script>
</body>
</html>
