<form id="pagerForm" method="post" action="{:url()}">
	{include file="layout/search"/}
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="{:url()}" method="post">
	<div class="searchBar">
		<ul class="searchContent" >

		</ul>
	</div>
	</form>
</div>

<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			{include file="layout/menu"/}
		</ul>
	</div>
	<table class="table" width="100%" layoutH="90">
		<thead>
			<tr>
				<th width="30%">名称</th>
				<th >内容</th>
			</tr>
		</thead>
		<tbody>
			<tr><td >服务器参数：</td><td></td></tr>
			{volist name="data.server" id="vo"}
				<tr >
					<td align="right">{$vo.0}：</td>
					<td>{$vo.1}</td>
				</tr>
			{/volist}

			<tr ><td >PHP已编译模块检测：</td><td></td></tr>
			{for start="0" end=":ceil( count($data['module'])/20 )" name="n" comparison="lt" step=1}
				<tr ><td colspan="2">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{volist name=":array_slice($data['module'],$n,$n+20)" id="vo"}
						{$vo}&nbsp;
					{/volist}
				</td></tr>
			{/for}

			<tr ><td >PHP相关参数：</td><td></td></tr>
			{volist name="data.php_config" id="vo"}
				<tr >
					<td align="right">{$vo.0}：</td>
					<td>{$vo.1}</td>
				</tr>
			{/volist}


			<tr ><td >组件支持：</td><td></td></tr>
			{volist name="data.subassembly" id="vo"}
				<tr >
					<td align="right">{$vo.0}：</td>
					<td>{$vo.1}</td>
				</tr>
			{/volist}

			<tr ><td >第三方组件：</td><td></td></tr>
			{volist name="data.thirdparty" id="vo"}
				<tr >
					<td align="right">{$vo.0}：</td>
					<td>{$vo.1}</td>
				</tr>
			{/volist}

			<tr ><td >数据库支持：</td><td></td></tr>
			{volist name="data.database" id="vo"}
			<tr >
				<td align="right">{$vo.0}：</td>
				<td>{$vo.1}</td>
			</tr>
			{/volist}

		</tbody>
	</table>
</div>
