<html>
<head>
	<meta charset="UTF-8">
	<title>Web sockets test</title>
	<script type="text/javascript" src="/static/dwz/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/static/common/js/tool.js"></script><!-- 自定义函数库 -->
</head>
<body>
<form action="http://sdk2.7xz.com/sale/test?type=2" method="post" enctype="multipart/form-data">
	<input name="image[]" type="file" value="" />
	<input name="image[]" type="file" value="" />
	<input name="image[]" type="file" value="" />
	<button type="submit">提交</button>
</form>

</body>

</html>
