<div class="pageContent">
	<form method="post" action="{:url()}" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="56">
			<div class="unit">
				<label>客户名称：</label>
				<input name="name" type="text" size="30"  value="" class="required"  placeholder=""/>
			</div>
			<div class="unit">
				<label>业务类型：</label>
				<select name="business_type" required>
					<option value="0" }>-</option>
					{volist name=":model('Customer')->attr('_business_type')" id="vo"}
						<option value="{$key}" >{$vo}</option>
					{/volist}
				</select>
			</div>
			<div class="unit">
				<label>　　地址：</label>
				<input name="address" type="text" size="30"  value="" class="required" required placeholder=""/>
			</div>
			<div class="unit">
				<label>联系电话：</label>
				<input name="phone" type="text" size="30"  value="" class="required" placeholder=""/>
			</div>
			<div class="unit">
				<label>电子邮箱：</label>
				<input name="email" type="text" size="30"  value="" class="" placeholder=""/>
			</div>

			<div class="unit">
				<label>　　QQ：</label>
				<input name="qq" type="text" size="30"  value="" class="" placeholder=""/>
			</div>
			<div class="unit">
				<label>　　微信：</label>
				<input name="wechat" type="text" size="30"  value="" class="" placeholder=""/>
			</div>
			<div class="unit">
				<label>　　备注：</label>
				<textarea  name="remark" rows="6" cols="50" ></textarea>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
<script type="text/javascript">



</script>
