<form id="pagerForm" method="post" action="{:url()}">
	{include file="layout/search"/}
	<input type="hidden" name="search[keyword]" value="{$Request.param.search.keyword}" />
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="{:url()}" method="post">
	<div class="searchBar">
		<ul class="searchContent" >
			<div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div>
			<li >
				<label ></label>
				<input type="text" name="search[keyword]" value="{$Request.param.search.keyword}" placeholder=""/>
			</li>
		</ul>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			{include file="layout/menu"/}
		</ul>
	</div>
	<table class="table" width="100%" layoutH="138">
		<thead>
			<tr>
				<th width="5%"><input type="checkbox" group="ids" class="checkboxCtrl">ID</th>
				<th width="20%">客户名称</th>
				<th width="5%">业务类型</th>
				<th width="10%">联系电话</th>
				<th width="15%">邮箱</th>
				<th >备注</th>
				<th width="5%">创建人</th>
				<th width="10%">创建时间</th>
			</tr>
		</thead>
		<tbody>
			{volist name="data.list" id="vo"}
				<tr target="id" rel="{$vo.id}">
					<td><input type="checkbox" name="ids" value="{$vo.id}">{$vo.id}</td>
					<td>{$vo.name}</td>
					<td>{$vo.business_type_format}</td>
					<td>{$vo.phone}</td>
					<td>{$vo.email}</td>
					<td>{$vo.remark}</td>
					<td>{$vo.realname}</td>
					<td>{:date('Y-m-d H:i',$vo['create_time'])}</td>
				</tr>
			{/volist}
		</tbody>
	</table>
	<div class="panelBar">
		{include file="layout/nav"/}
	</div>
</div>
