<div class="pageContent">
	<form method="post" action="{:url()}" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<div class="pageFormContent" layoutH="56">
			<div class="unit" style="text-align:center; font-size:18px; font-weight:bold;">
				{$data.info.title}
			</div>
			<div class="unit" style="text-align:center; font-size:12px;color:#999999;">
				分类：{$data.info.category_name|default="-"}　发布人：{$data.info.realname}　发布时间：{:date('Y-m-d H:i',$data['info']['create_time'])}　更新时间：{:date('Y-m-d H:i',$data['info']['update_time'])}
			</div>
			<div class="divider"></div>
			<div class="unit" >
				<iframe src="{:url('bulletin_info_content',['id'=>$data['info']['id']])}" style="height:1000px; width:100%;border-width:1px;border-style:dashed;">
				</iframe>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
<script type="text/javascript">



</script>
