<div class="pageContent">
	<form method="post" action="{:url()}" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="60">
			<input name="id" type="hidden" value="{$Request.param.id}" />
			<div class="unit">
				<label>　权限组：</label>
				<input name="title" type="text" size="30"  value="{$data.info.title}" class="required" minlength="1" maxlength="30" placeholder="名称"/>
			</div>
			<div class="unit">
				<label>描述信息：</label>
				<input name="description" type="text" size="30" value="{$data.info.description}" minlength="1" maxlength="50" placeholder="描述信息"/>
			</div>
			<div class="unit">
				<label>　　排序：</label>
				<input name="sort" type="text" size="30" value="{$data.info.sort}" placeholder="0~999的数字"/>
			</div>
			<div class="unit">
				<label>　　状态：</label>
				<input type="radio" name="status" value="0" {if condition="$data['info']['status'] eq '0'" }checked{/if}>禁用
				<input type="radio" name="status" value="1" {if condition="$data['info']['status'] eq '1'" }checked{/if}>启用
			</div>
			<div class="unit">
				<label>权限配置：</label>
				<div id="authCheckbox" style="float:left;width:80%;border:1px solid darkgray;overflow: auto;">
					<input type="checkbox" class="autoCheckboxAll" />全选<br/>
					<div class="allAuthRuleList">
						{$data.rule_html}
					</div>
				</div>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
<script type="text/javascript">
$.extend(admin.auth,{
	/**
	 * 自动勾选
	 */
	setChecked 			: function(){
		var thisObj 	= $(this); 	//当前checkbox
		var thisSon 	= thisObj.nextAll('div').find('input:checkbox'); 	//当前的下级checkbox
		var thisPar 	= thisObj.parentsUntil('.allAuthRuleList').not('.last').find('input[type=checkbox]:first'); 	//当前的上级checkbox
		if(thisObj.prop('checked') == true){
			thisObj.hasClass('autoCheckboxAll') ? thisSon.prop('checked',true) : thisPar.prop('checked',true);
		}else{
			thisObj.hasClass('autoCheckboxAll') ? thisSon.prop('checked',false) : '';
		}
	}
});
	$(function () {
		//自动勾选事件
		$('#authCheckbox').find('input:checkbox').on('change',admin.auth.setChecked);
	});
</script>
