{extend name="layout/base" /}

{block name="content"}
<div id="search" class="box ">
	<div class="box-body">
		<form action="{:url()}" method="get" enctype="multipart/form-data" class="form-inline">
			<div class="form-group">
				<button type="submit" class="btn btn-primary">搜索</button>
			</div>
			<div class="form-group">
				{include file="layout/search"/}
				<input type="hidden" name="parent_id" value="{:input('parent_id',0)}" />
				<input type="hidden" name="search[status]" value="{:input('search.status','')}" />
			</div>
			<div class="form-group">
				<select name="search[keyword_type]" class="form-control"  >
					<option value="title" {if condition="input('search.keyword_type') eq 'title'"}selected{/if}>名称</option>
					<option value="name" {if condition="input('search.keyword_type') eq 'name'"}selected{/if}>链接</option>
				</select>
				<input name="search[keyword]"  value="{:input('search.keyword')}" type="text" class="form-control" placeholder="搜索">
			</div>
			<div class="form-group">
				<label class="">状态</label>
				<select name="search[status]" class="form-control" >
					<option value="">全部</option>
					<option value="0" {if condition="input('search.status') eq '0'"}selected{/if}>禁用</option>
					<option value="1" {if condition="input('search.status') eq '1'"}selected{/if}>启用</option>
				</select>
			</div>
		</form>
	</div>
</div>

<div id="table" class="box" >
	<div class="box-body">
		<div class="row">
			<div class="col-sm-12">
				<a class="btn btn-app " href="{:url('',['parent_id'=>$parent_id])}">
					<i class="fa fa-arrow-left "></i> 返回上级
				</a>
				{include file="layout/menu_option"/}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<table class="table table-bordered table-striped table-hover" >
					<thead>
						<tr >
							<th class="" order-field="id">ID</th>
							<th class="">名称</th>
							<th class="">链接地址</th>
							<th class="" >ICON</th>
							<th class="" >菜单类型</th>
							<th class="">状态</th>
							<th class="order-desc" order-field="sort">排序</th>
						</tr>
					</thead>
					<tbody>
					{volist name="paging" id="vo" }
						<tr data-id="{$vo.id}" >
							<td>{$vo.id}</td>
							<td>
								<a href="{:url('',['parent_id'=>$vo['id']])}">
									{$vo.title}
								</a>
							</td>
							<td>{$vo.name}</td>
							<td><span class="fa {$vo.icon ? : 'fa-link'}"></span></td>
							<td>{$vo.menu_type_format}</td>
							<td>{$vo.status_format}</td>
							<td>{$vo.sort}</td>
						</tr>
					{/volist}
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 hidden-xs">
				<div class="dataTables_info">
					<span class="table-checkall">全选</span> <span class="table-checkinvert">反选</span>
					Total {$paging->total()} data
				</div>
			</div>
			<div class="col-sm-8">
				<div class="dataTables_paginate ">
					{$paging->render()}
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	$(function(){

	});
</script>
{/block}