<style>
	.colorGray {color:#999999;}
	.colorOrange {color:orange;}
	.colorBlue {color:#3366BB;}
	.threadGroup {border:1px solid #E1E4E6; margin:5px auto; width:1000px; min-height:160px; border-radius:10px;}
    .threadLeft {float:left; width:130px; padding:10px;}
	.threadLeftFace {text-align:center;}
	.threadLeftName {text-align:center; font-size:16px; color:#3366BB; margin-top:10px;}
	.threadLeftFaceImage {max-width:120px; max-height:120px; border:1px solid #E1E4E6;}
	.threadRight {float:left; width:829px; padding:10px; margin-top:10px; border-left:1px dashed #E1E4E6;}
	.threadRightContent {width:100%; min-height:140px; word-wrap:break-word;}
	.threadRightExtend { width:100%; margin:10px auto 5px;}
	.threadRightInfo {text-align:right;color:#999999;}
	.threadRightInfo span {margin-right:5px;margin-left:5px;}
	.threadRightInfo a {color:#3366BB;}
	.threadHeader {border:1px solid #E1E4E6; margin:5px auto; width:1000px;border-radius:10px;}
	.threadHeader div {margin:10px 20px;}
	.threadTitle span {font-size:20px;}
	.reply {width:100%; }
	.replyList {min-height:45px;}
	.replyFace {max-width:45px; max-height:45px; float:left;}
	.replyRight {margin-left:50px; min-height:45px;}
	.replyRightContent {min-height:32px; word-break:break-all;}
	.replyRightInfo {text-align:right; position:relative; bottom:0px;}
	.replyRightInfo span {margin-right:5px;}
	.replyBar {text-align:right;}
	.replyStage span {margin-right:5px;}
	.replyClose {color:#3366BB; float:right;}
</style>

<form id="pagerForm" method="post" action="{:url()}">
	{include file="layout/search"/}
	<input type="hidden" name="search[keyword]" value="{$Request.param.search.keyword}" />
	<input type="hidden" name="forum_id" value="{$Request.param.forum_id}" />
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="{:url()}" method="post">
		<div class="searchBar">
			<ul class="searchContent" >
				<input type="hidden" name="forum_id" value="{$Request.param.forum_id}" />
				<div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div>
				<li >
					<label ></label>
					<input type="text" name="search[keyword]" value="{$Request.param.search.keyword}" placeholder="内容"/>
				</li>
			</ul>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			{include file="layout/menu"/}
		</ul>
	</div>
	<div class="pageContent" layoutH="114">
		<div class="threadHeader" >
			<div class="threadTitle" >
				<span class="colorGray">{$data.info.category_name ?= '['.$data['info']['category_name'].']'}</span>
				<span >{$data.info.title}</span>
			</div>
			<div >
				<span class="colorGray" >回复:</span><span class="colorOrange">{$data.info.reply_count}</span>
				<span class="colorGray" >查看:</span><span class="colorOrange">{$data.info.view_count}</span>
			</div>
		</div>

		{volist name="data.list" id="vo"}
			<div class="threadGroup" data-id="{$vo.id}">
				<div class="threadLeft">
					<ul>
						<li class="threadLeftFace">
							<div><img src="{$vo.face_url}" class="threadLeftFaceImage" ></div>
						</li>
						<li class="threadLeftName">
							{$vo.realname}
						</li>
					</ul>
				</div>
				<div class="threadRight" >
					<div class="threadRightContent">{$vo.content}</div>
					<div class="threadRightExtend">
						<div class="threadRightInfo" >
							<span>{$vo.number}楼</span>
							|<span>发表于 {:date('Y-m-d H:i',$vo['create_time'])}</span>
							{if condition="$vo['create_time'] neq $vo['update_time']"}
								|<span >编辑于 {:date('Y-m-d H:i',$vo['update_time'])}</span>
							{/if}
							|<span>
								<a href="{:url('forum/reply_add',['thread_id'=>$vo['id']])}" target="dialog" rel="30" title="回复" height="400" width="600" >
									回复{if condition="$vo['page']['total'] gt 0"}({$vo.page.total}){/if}
								</a>
							</span>
							{if condition="$vo['user_id'] eq session('user_id')"}
								|<span><a href="{:url('forum/thread_edit',['thread_id'=>$vo['id']])}" target="dialog" rel="30" title="编辑" height="450" width="700" >编辑</a></span>
								|<span><a href="javascript:;" onclick="admin.forum.threadDel(this);" >删除</a></span>
							{/if}
						</div>
					</div>

					{//楼内回复start}
					<div class="reply" data-page="1" >
						<ul >
							{volist name="vo.reply_list" id="vor"}
								<li class="replyList" data-id="{$vor.id}" {if condition="$i gt 2"}style="display:none;"{/if}>
									<div class="divider"></div>
									<img class="replyFace" src="{$vor.face_url}">
									<div class="replyRight" >
										<div class="replyRightContent" >
											<span>
												<span class="colorBlue" data-key="realname">{$vor.realname}</span>：
												<span data-key="content">{$vor.content}</span>
											</span>
										</div>
										<div class="replyRightInfo" >
											<span class="colorGray" data-key="create_time">{:date('Y-m-d H:i',$vor['create_time'])}</span>
											<span>
												<a data-key="reply_add_url" href="{:url('forum/reply_add',['thread_id'=>$vo['id'],'reply_id'=>$vor['id'],])}" target="dialog" rel="30" title="回复" height="400" width="600" class="colorGray">
													回复
												</a>
											</span>
											<span class="replyDel" {if condition="$vor['user_id'] neq session('user_id')"}style="display:none;"{/if}>
												<a href="javascript:;" onclick="admin.forum.replyDel(this);" class="colorGray">删除</a>
											</span>
										</div>
									</div>
								</li>
							{/volist}
						</ul>
						<div class="replyStage" style="display:none;">
							<div class="divider"></div>
							{if condition="$vo['page']['total']/$vo['page']['limit'] gt 1"}
								<div class="replyPage" data-page="1">
									<span class="colorBlue pageUp" onclick="admin.forum.getReplyList(this);" style="display:none;" >
										上页
									</span>
									<span class="colorBlue pageDown" onclick="admin.forum.getReplyList(this);">
										下页
									</span>
								</div>
							{/if}
							<div class="replyShrink" {if condition="$vo['page']['total'] elt 2"} style="display:none;" {/if}>
								<span>
									<a class="replyClose" href="javascript:;"  onclick="admin.forum.hideReplyPage(this);">
										点击收起
									</a>
								</span>
							</div>
							<div style="clear:both;"></div>
						</div>
						<div class="replyBar" {if condition="$vo['page']['total'] elt 2"} style="display:none;" {/if}>
							<div class="divider"></div>
							<span class="colorGray" >共{$vo.page.total}条评论</span>
							<span><a href="javascript:;" class="colorBlue" onclick="admin.forum.showReplyPage(this);">点击查看</a></span>
						</div>
					</div>
					{//楼内回复end}

				</div>


				<div style="clear:both;"></div>
			</div>
		{/volist}
	</div>
	<div class="panelBar">
		{include file="layout/nav"/}
	</div>
</div>

<script type="text/javascript">


$.extend(admin.forum,{
	/**
	 * 显示回复
	 */
	showReplyPage			: function(obj){
		var $this = $(obj);
		$this.parents('.reply').find('.replyStage,ul li').show();
		$this.parents('.replyBar').hide();
	},
	/**
	 * 隐藏回复
	 */
	hideReplyPage 			: function(obj){ 	//点击隐藏
		var $this = $(obj);
		var reply = $this.parents('.reply');
		reply.find('.replyStage,ul li:gt(1)').hide();
		reply.find('.replyBar').show();
	},
	/**
	 * 获取数据
	 */
	getReplyList 			: function(obj){ 	//获取分页
		if(admin.loading==true) return false;
		admin.loading = true;

		var $this     = $(obj);
		var reply     = $this.parents('.reply');
		var thread_id = $this.parents('.threadGroup').attr('data-id'); //留言ID
		var page      = $this.parents('.replyPage').attr('data-page'); //当前页
		var pageto    = $this.hasClass('pageUp') ? parseInt(page)-1 : parseInt(page)+1; //获取页
		console.log(page,pageto);
		$.post("{:url()}",{thread_id:thread_id, page:pageto, type:'reply_list'},function(data,status){
			if(status == 'success' && data.code == 0){
				var clone = reply.find('ul li').eq(0).clone(true);
				reply.find('ul').html('');
				$.each(data.data.list,function (k,v) {
					var html = clone.clone(true);
					html.attr('data-id',v.id);
					html.find('replyFace').attr('src',v.face_url);
					html.find('replyFace').attr('src',v.face_url);
					html.find('[data-key="realname"]').html(v.realname);
					html.find('[data-key="content"]').html(v.content);
					html.find('[data-key="create_time_format"]').html(v.create_time);
					html.find('[data-key="reply_add_url"]').attr('href',v.reply_add_url);
					v.user_id == "{:session('user_id')}" ? html.find('.replyDel').show() : html.find('.replyDel').hide();
					reply.find('ul').append(html);
 				});
				/* 分页 */
				//更新当前页数
				$this.parents('.replyPage').attr('data-page',data.data.page.page);
				//上一页按钮
				data.data.page.page>1 ? $('.replyPage').find('.pageUp').show() : $('.replyPage').find('.pageUp').hide();
				//下一页按钮
				Math.ceil(data.data.page.total/data.data.page.limit) > pageto ? $('.replyPage').find('.pageDown').show() : $('.replyPage').find('.pageDown').hide();
				//点击收起按钮
				data.data.list.length>2 ? $('.replyShrink').show() : $('.replyShrink').hide();
			}
			admin.loading = false;
		},'json');
	},
	threadDel : function(obj){
		tool.confirm({
			msg : '确定删除？',
			true_callback : function () {
				if(admin.loading == true)return false;
				admin.loading = true;

				var $this 	  = $(obj);
				var thread_id = $this.parents('.threadGroup').attr('data-id');
				$.post("{:url('forum/thread_del')}",{thread_id:thread_id},function(data,status){
					if(status == 'success'){
						if(data.code == 0){
							alertMsg.info('删除成功！');
							$this.parents('.threadGroup').remove();
						}else{
							alertMsg.info(data.msg);
						}
					}
					admin.loading = false;
				},'json');
			},
		});
	},
	replyDel : function(obj){
		tool.confirm({
			msg: '确定删除？',
			true_callback: function () {
				if(admin.loading == true)return false;
				admin.loading = true;

				var $this 	 = $(obj);
				var reply_id = $this.parent('span').parent('div').parent('div').parent('li').attr('data-id');
				$.post("{:url('forum/reply_del')}",{reply_id:reply_id},function(data,status){
					if(status == 'success'){
						if(data.code == 0){
							alertMsg.info('删除成功！');
							$this.parent('span').parent('div').parent('div').parent('li').remove();
						}else{
							alertMsg.info(data.msg);
						}
					}
					admin.loading = false;
				},'json');
			}
		});
	},
})

</script>