<div class="pageContent">
	<form method="post" action="{:url()}" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<div class="pageFormContent" layoutH="56">
			<input name="id" type="hidden" value="{:input('id',0)}" />
			<div class="unit">
				<label>　　标题：</label>
				<input name="title" type="text" size="60"  value="{$data.info.title}" class="required" placeholder="中文标题"/>
			</div>
			<div class="unit">
				<label>　　分类：</label>
				<select name="category_id" required>
					{volist name="data.category_list" id="vo"}
						<option value="{$key}" {if condition="$data['info']['category_id'] eq $key"}selected{/if}>{$vo}</option>
					{/volist}
				</select>
			</div>
			<div class="unit">
				<label>　　内容：</label>
				<textarea class="editor" name="content" rows="20" cols="100"
					upLinkUrl="{:url('transmit/upload_editor',['type'=>'document'])}" upLinkExt="{:service('Transmit')->option('document','ext')}"
					upImgUrl="{:url('transmit/upload_editor',['type'=>'image'])}" upImgExt="{:service('Transmit')->option('image','ext')}"
					upFlashUrl="{:url('transmit/upload_editor',['type'=>'flash'])}" upFlashExt="{:service('Transmit')->option('flash','ext')}"
					upMediaUrl="{:url('transmit/upload_editor',['type'=>'media'])}" upMediaExt="{:service('Transmit')->option('media','ext')}">
					{$data.info.content}
				</textarea>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
<script type="text/javascript">



</script>
