
{extend name="layout/base" /}

{block name="content"}
<div class="row">
	<div class="col-md-12">
		<div class="box ">
			<div class="box-header with-border">
				<h3 class="box-title">{:input('id') ? '编辑' : '新增'}</h3>
			</div>
			<form class="form-horizontal form-validator" method="post" action="{:url()}" >
				<div class="box-body">
					<input name="id" type="hidden" value="{:input('id')}" />
					<div class="form-group">
						<label class="col-sm-2 control-label">名称</label>
						<div class="col-sm-10">
							<input name="title" value="{$info.title ?? ''}" type="text"  class="form-control" placeholder=""
								   required minlength="1" maxlength="20">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">键</label>
						<div class="col-sm-10">
							<input name="name" value="{$info.name ?? ''}" type="text"  class="form-control" placeholder=""
								   required minlength="1" maxlength="50">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">分组</label>
						<div class="col-sm-10">
							<select name="group" class="form-control">
								<option value="0">无</option>
								{foreach :config('config_group') as $k => $v}
								<option value="{$k}" {if isset($info->group) && $info->group==$k} selected {/if}>{$v}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">值类型</label>
						<div class="col-sm-10">
							<select name="type" class="form-control select2">
								{foreach :\xs\Config::typeAttr() as $k => $v}
								<option value="{$k}" {if isset($info->type) && $info->type==$k} selected {/if}>{$v}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">值</label>
						<div class="col-sm-10">
							<textarea name="value" class="form-control" rows="5" placeholder="数组类型时填写key1:value1,key2:value2">{$info.value ?? ''}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">验证规则</label>
						<div class="col-sm-10">
							<input name="validate" value="{$info.validate ?? ''}" type="text"  class="form-control" placeholder="thinkphp5验证器规则"
								   minlength="1" maxlength="250">
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">额外参数</label>
						<div class="col-sm-10">
							<textarea name="extra" class="form-control" rows="3" placeholder="枚举类型时填写key1:value1,key2:value2">{$info.extra ?? ''}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">描述</label>
						<div class="col-sm-10">
							<textarea name="description" class="form-control" rows="3" placeholder="Enter ...">{$info.description ?? ''}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">排序</label>
						<div class="col-sm-10">
							<input name="sort" value="{$info.sort ?? ''}" type="number" class="form-control" placeholder=""
								   min="0" max="9999">
						</div>
					</div>

					<div class="form-group">
						<label  class="col-sm-2 control-label">状态</label>
						<div class="col-sm-10">
							<label class="radio-inline">
								<input name="status" type="radio" value="0" required
									   {if isset($info->status) && $info->status=='0'} checked {/if}>
								禁用
							</label>
							<label class="radio-inline">
								<input name="status" type="radio" value="1" required
									   {if !isset($info->status) || $info->status=='1'} checked {/if}>
								启用
							</label>
						</div>
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="button" class="btn btn-default" onclick="window.history.back();" >Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
	});

	var page = {
		//选项参数
	};




</script>
{/block}