{extend name="layout/base" /}

{block name="content"}
<div id="search" class="box ">
	<div class="box-body">
		<form action="{:url()}" method="get" enctype="multipart/form-data" class="form-inline">
			<div class="form-group">
				<button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></button>
			</div>
			<div class="form-group">
				{include file="layout/search"/}
				<input type="hidden" name="status" value="{:input('status','')}" />
			</div>
			<div class="form-group">
				<select name="target" class="form-control"  >
					<option value="title" {if input('target')=='title'} selected {/if}>名称</option>
					<option value="name" {if input('target')=='name'} selected {/if}>键</option>
				</select>
				<input name="keyword"  value="{:input('keyword')}" type="text" class="form-control" placeholder="关键字">
			</div>
			<div class="form-group">
				<label class="">状态</label>
				<select name="status" class="form-control" >
					<option value="">全部</option>
					<option value="0" {if input('status')=='0'} selected {/if}>禁用</option>
					<option value="1" {if input('status')=='1'} selected {/if}>启用</option>
				</select>
			</div>
		</form>
	</div>
</div>

<div id="table" class="box" data-order="{:input('order','name desc')}">
	<div class="box-body">
		<div class="row">
			<div class="col-sm-12">
				{include file="layout/option"/}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<table class="table table-bordered table-striped table-hover" >
					<thead>
					<tr >
						<th order-field="id" width="5%">ID</th>
						<th width="15%">名称</th>
						<th width="15%">键</th>
						<th width="">值</th>
						<th width="10%">分组</th>
						<th width="10%">类型</th>
						<th width="10%">状态</th>
						<th order-field="sort" width="8%">排序</th>
					</tr>
					</thead>
					<tbody>
					{foreach $paging as $v }
					<tr data-id="{$v.id}" >
						<td>{$v.id}</td>
						<td>{$v.title}</td>
						<td>{$v.name}</td>
						<td>{$v.value}</td>
						<td>{$v.group_format}</td>
						<td>{$v.type_format}</td>
						<td>{$v.status_format}</td>
						<td>{$v.sort}</td>
					</tr>
					{/foreach}
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 visible-lg-block">
				<span class="table-checkall">全选</span> <span class="table-checkinvert">反选</span>
				Total {$paging->total()} data
			</div>
			<div class="col-lg-8 col-md-12 text-right">
				{$paging->render()}
			</div>
		</div>
	</div>
</div>


{/block}