{extend name="layout/base" /}

{block name="content"}
<div class="box ">
	<div class="box-body">
		<form action="{:url()}" method="get" enctype="multipart/form-data" class="form-inline">
			<div class="form-group">
				{foreach :config('config_group') as $k => $v}
					{if input('group',1)==$k}
					<button type="button" class="btn btn-primary disabled">
						{$v}
					</button>
					{else/}
					<a href="{:url('',['group'=>$k])}">
						<button type="button" class="btn btn-default ">
							{$v}
						</button>
					</a>
					{/if}
				{/foreach}
			</div>
		</form>
	</div>
</div>

<div class="box">

	<form class="form-horizontal form-validator" method="post" action="{:url()}">
		<div class="box-body">
			<input name="group" value="{:input('group',1)}" type="hidden">
			{foreach $list as $k => $v}
			<div class="form-group">
				<label class="col-sm-2 control-label">
					{$v.title}
					<span class="help-block" style="font-weight:normal;">{$v.name}</span>
				</label>
				<div class="col-sm-10">
					{switch $v.type}

					{case string}
					<input name="config[{$v.name}]" value="{$v.value}" type="text"  class="form-control" placeholder="" >
					{/case}

					{case integer}
					<input name="config[{$v.name}]" value="{$v.value}" step="1" type="number" class="form-control" placeholder="整数" >
					{/case}

					{case float}
					<input name="config[{$v.name}]" value="{$v.value}" step="0.1" type="number" class="form-control" placeholder="小数" >
					{/case}

					{case text}
					<textarea name="config[{$v.name}]" class="form-control" rows="3" placeholder="">{$v.value}</textarea>
					{/case}

					{case list}
					<dl class="simple-with-drop">
						{foreach :\lib\Helper::strToArray($v['value']) as $k1 => $v1}
						<dd class="form-inline">
							<input type="text" name="config[{$v.name}][{$k1}][value]" class="form-control" value="{$v1}" size="30" placeholder="值">
							<span class="btn btn-sm btn-danger " onclick="$(this).parent('dd').remove();">
									<i class="fa fa-times"></i>
								</span>
							<span class="btn btn-sm btn-primary btn-dragsort">
									<i class="fa fa-arrows"></i>
								</span>
						</dd>
						{/foreach}
					</dl>
					<div class="">
						<a href="javascript:;" class="btn btn-sm btn-default" onclick="page.addList(this,'{$v.name}')">
							<i class="fa fa-plus"></i> 添加
						</a>
					</div>
					{/case}

					{case dict}
						<dl class="simple-with-drop" >
							{php}$i = 0;{/php}
							{foreach :\lib\Helper::strToArray($v['value']) as $k1 => $v1}
							<dd class="form-inline">
								<input type="text" name="config[{$v.name}][{$i}][key]" class="form-control" value="{:is_int($k1) ? '' : $k1}" size="10" placeholder="键">
								<input type="text" name="config[{$v.name}][{$i}][value]" class="form-control" value="{$v1}" size="30" placeholder="值">
								<span class="btn btn-sm btn-danger " onclick="$(this).parent('dd').remove();">
									<i class="fa fa-times"></i>
								</span>
								<span class="btn btn-sm btn-primary btn-dragsort">
									<i class="fa fa-arrows"></i>
								</span>
							</dd>
							{php}$i++;{/php}
							{/foreach}
						</dl>
						<div class="">
							<a href="javascript:;" class="btn btn-sm btn-default" onclick="page.addDict(this,'{$v.name}')">
								<i class="fa fa-plus"></i> 添加
							</a>
						</div>
					{/case}

					{case select}
						<select name="config[{$v.name}]" class="form-control select2">
							{foreach :\lib\Helper::strToArray($v['extra']) as $k1 => $v1}
							<option value="{$k1}" {if $v['value']==$k1} selected {/if}>{$v1}</option>
							{/foreach}
						</select>
					{/case}

					{case selects}
						<select name="config[{$v.name}][][value]" class="form-control select2" multiple>
							{foreach :\lib\Helper::strToArray($v['extra']) as $k1 => $v1}
							<option value="{$k1}" {if in_array($k1,explode(',',$v['value']))} selected {/if}>{$v1}</option>
							{/foreach}
						</select>
					{/case}

					{case radio}
						{foreach :\lib\Helper::strToArray($v['extra']) as $k1 => $v1}
						<label class="radio-inline">
							<input name="config[{$v.name}]" type="radio" value="{$k1}" required {if $v['value']==$k1} checked {/if}>
							{$v1}
						</label>
						{/foreach}
					{/case}

					{case checkbox}
						{foreach :\lib\Helper::strToArray($v['extra']) as $k1 => $v1}
						<label class="checkbox-inline">
							<input name="config[{$v.name}][][value]" type="checkbox" value="{$k1}" {if in_array($k1,explode(',',$v['value']))} checked {/if}>
							{$v1}
						</label>
						{/foreach}
					{/case}

					{case time}
					<input name="config[{$v.name}]" value="{$v.value}" type="text" class="form-control config-time" readonly placeholder="" >
					{/case}

					{case date}
					<input name="config[{$v.name}]" value="{$v.value}" type="text" class="form-control config-date" readonly placeholder="" >
					{/case}

					{case datetime}
					<input name="config[{$v.name}]" value="{$v.value}" type="text" class="form-control config-datetime" readonly placeholder="" >
					{/case}

					{case editor}
					<script id="editor-{$v.name}" name="config[{$v.name}]" type="text/plain" style="width:100%;height:200px;">{$v.value}</script>
					{/case}

					{default/}
						<textarea name="config[{$v.name}]" class="form-control" rows="3" placeholder="">{$v.value}</textarea>
					{/switch}
					<span class="help-block">{$v.description}</span>
				</div>
			</div>
			<hr/>
			{/foreach}
		</div>
		<div class="box-footer">
			<button type="submit" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-default" onclick="window.history.back();">Cancel</button>
		</div>
	</form>
</div>

<script type="text/javascript">
	require([
		'jquery',
		'app',
		'vue',
		'ueditor',
		'bootstrap-fileinput'
	], function($, app, Vue, UE){
		//编辑器
		$('script[id^=editor-]').each(function(k,v){
			UE.getEditor($(v).attr('id'));
		});

		//拖拽
		$("dl.simple-with-drop").sortable({
			group: 'no-drop',
			handle: 'span.btn-dragsort'
		}).disableSelection();

		//日期时间
		$('.config-time').datetimepicker({datepicker:false, format:'H:i', step:1});
		$('.config-date').datetimepicker({timepicker:false, format:'Y-m-d',});
		$('.config-datetime').datetimepicker({format:'Y-m-d H:i',});
	});


	var page = {
		dict_id : -1,
		//添加字典项
		addList : function(button,key){
			var $table = $(button).parent('div').parent('div').find('dl.simple-with-drop');
			var $html = '<dd class="form-inline">'
					+'<input type="text" name="config['+key+'][][value]" class="form-control" value="" size="30" placeholder="值"> '
					+'<span class="btn btn-sm btn-danger " onclick="$(this).parent(\'dd\').remove();"> '
					+'<i class="fa fa-times"></i></span> '
					+'<span class="btn btn-sm btn-primary btn-dragsort">'
					+'<i class="fa fa-arrows"></i></span> </dd>';
			$table.append($html);
		},
		//添加字典项
		addDict : function(button,key){
			var $table = $(button).parent('div').parent('div').find('dl.simple-with-drop');
			var $html = '<dd class="form-inline">'
				+'<input type="text" name="config['+key+']['+page.dict_id+'][key]" class="form-control" value="" size="10" placeholder="键"> '
				+'<input type="text" name="config['+key+']['+page.dict_id+'][value]" class="form-control" value="" size="30" placeholder="值"> '
				+'<span class="btn btn-sm btn-danger " onclick="$(this).parent(\'dd\').remove();"> '
				+'<i class="fa fa-times"></i></span> '
				+'<span class="btn btn-sm btn-primary btn-dragsort">'
				+'<i class="fa fa-arrows"></i></span> </dd>';
			page.dict_id--;
			$table.append($html);
		},
	};

</script>
{/block}
