{extend name="layout/base" /}

{block name="content"}
<div class="box ">
	<div class="box-body">
		<form action="{:url()}" method="get" enctype="multipart/form-data" class="form-inline">
			<div class="form-group">
				{volist name=":config('config_group')" id="vo"}
					{if condition="input('group',1)==$key"}
					<button type="button" class="btn btn-default disabled">
						{$vo}
					</button>
					{else/}
					<a href="{:url('',['group'=>$key])}">
						<button type="button" class="btn btn-primary ">
							{$vo}
						</button>
					</a>
					{/if}
				{/volist}
			</div>
		</form>
	</div>
</div>

<div class="box">

	<form class="form-horizontal form-validator" method="post" action="{:url()}">
		<div class="box-body">
			<input name="group" value="{:input('group',1)}" type="hidden">
			{volist name="list" id="vo"}
			<div class="form-group">
				<label class="col-sm-2 control-label">{$vo.title}</label>
				<div class="col-sm-10">
					{switch name="vo.type"}

					{case value="1"}
					<textarea name="config[{$vo.name}]" class="form-control" rows="3" placeholder="字符串">{$vo.value}</textarea>
					{/case}

					{case value="2"}
					<textarea name="config[{$vo.name}]" class="form-control" rows="3" placeholder="数组">{$vo.value}</textarea>
					{/case}

					{case value="3"}
					<select name="config[{$vo.name}]" class="form-control">
						{volist name=":service('Tool')->strToArray($vo['extra'])" id="vo1"}
						<option value="{$key}" {if condition="$vo['value']==$key"}selected{/if}>{$vo1}</option>
						{/volist}
					</select>
					{/case}

					{default/}
					<textarea name="config[{$vo.name}]" class="form-control" rows="3" placeholder="">{$vo.value}</textarea>

					{/switch}
					<span class="help-block">{$vo.description}</span>
				</div>
			</div>
			{/volist}
		</div>
		<div class="box-footer">
			<button type="submit" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-default" onclick="window.history.back();">Cancel</button>
		</div>
	</form>
</div>

<script>
	$(function(){
	});
</script>
{/block}
