{extend name="layout/base" /}

{block name="content"}
<div class="box ">
	<div class="box-body">
		<form action="{:url()}" method="get" enctype="multipart/form-data" class="form-inline">
			<div class="form-group">
				{foreach :config('config_group') as $k => $v}
					{if input('group',1)==$k}
					<button type="button" class="btn btn-primary disabled">
						{$v}
					</button>
					{else/}
					<a href="{:url('',['group'=>$k])}">
						<button type="button" class="btn btn-default ">
							{$v}
						</button>
					</a>
					{/if}
				{/foreach}
			</div>
		</form>
	</div>
</div>

<div class="box">

	<form class="form-horizontal form-validator" method="post" action="{:url()}">
		<div class="box-body">
			<input name="group" value="{:input('group',1)}" type="hidden">
			{foreach $list as $k => $v}
			<div class="form-group">
				<label class="col-sm-2 control-label">
					{$v.title}
					<span class="help-block" style="font-weight:normal;">{$v.name}</span>
				</label>
				<div class="col-sm-10">
					{switch $v.type}

					{case string}
						<textarea name="config[{$v.name}]" class="form-control" rows="3" placeholder="字符串">{$v.value}</textarea>
					{/case}

					{case array}
						<dl class="simple-with-drop">
							{foreach :service('Tool')->strToArray($v['value']) as $k1 => $v1}
							<dd class="form-inline">
								<input type="text" name="config[{$v.name}][{$k1}][key]" class="form-control" value="{:is_int($k1) ? '' : $k1}" size="10" placeholder="键">
								<input type="text" name="config[{$v.name}][{$k1}][value]" class="form-control" value="{$v1}" size="30" placeholder="值">
								<span class="btn btn-sm btn-danger " onclick="$(this).parent('dd').remove();">
									<i class="fa fa-times"></i>
								</span>
								<span class="btn btn-sm btn-primary btn-dragsort">
									<i class="fa fa-arrows"></i>
								</span>
							</dd>
							{/foreach}
						</dl>
						<div class="">
							<a href="javascript:;" class="btn btn-sm btn-default" onclick="page.addDrop(this,'{$v.name}')">
								<i class="fa fa-plus"></i> 添加
							</a>
						</div>
					{/case}

					{case select}
						<select name="config[{$v.name}]" class="form-control">
							{foreach :service('Tool')->strToArray($v['extra']) as $k1 => $v1}
							<option value="{$k1}" {if $v['value']==$k1} selected {/if}>{$v1}</option>
							{/foreach}
						</select>
					{/case}

					{default/}
						<textarea name="config[{$v.name}]" class="form-control" rows="3" placeholder="">{$v.value}</textarea>

					{/switch}
					<span class="help-block">{$v.description}</span>
				</div>
			</div>
			<hr/>
			{/foreach}
		</div>
		<div class="box-footer">
			<button type="submit" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-default" onclick="window.history.back();">Cancel</button>
		</div>
	</form>
</div>

<script>
	$(function(){
		$("dl.simple-with-drop").sortable({
			group: 'no-drop',
			handle: 'span.btn-dragsort',
		}).disableSelection();
	});

	var page = {
		drop_id : -1,
		//添加选项
		addDrop : function(button,key){
			var $table = $(button).parent('div').parent('div').find('dl.simple-with-drop');
			var $html = '<dd class="form-inline">'
				+'<input type="text" name="config['+key+']['+page.drop_id+'][key]" class="form-control" value="" size="10" placeholder="键"> '
				+'<input type="text" name="config['+key+']['+page.drop_id+'][value]" class="form-control" value="" size="30" placeholder="值"> '
				+'<span class="btn btn-sm btn-danger " onclick="$(this).parent(\'dd\').remove();"> '
				+'<i class="fa fa-times"></i></span> '
				+'<span class="btn btn-sm btn-primary btn-dragsort">'
				+'<i class="fa fa-arrows"></i></span> </dd>';
			$table.append($html);
		},
	};

</script>
{/block}
