<div class="pageContent">
	<form method="post" action="{:url()}" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="60">
			<fieldset>
				<legend>详　　情</legend>
				<div class="unit">
					<label>　　姓名：</label>
					<input type="text" size="30" value="{$data.info.realname}" readonly="true"/>
				</div>
				<div class="unit">
					<label>　　账号：</label>
					<input type="text" size="30" value="{$data.info.username}" readonly="true"/>
				</div>
			</fieldset>
			<fieldset>
				<legend>编　　辑</legend>
				<div class="unit">
					<label>电子邮箱：</label>
					<input name="email" type="text" size="30" value="{$data.info.email}" class="email" minlength="1" maxlength="32" placeholder="请输入邮箱"/>
				</div>
				<div class="unit">
					<label>手机号码：</label>
					<input name="mobile" type="text" size="30" value="{$data.info.mobile}" class="phone" minlength="1" maxlength="15" placeholder="请输入手机号码"/>
				</div>
				<div class="unit">
					<label>　　昵称：</label>
					<input name="nickname" type="text" size="30" value="{$data.info.nickname}" minlength="1" maxlength="30" placeholder="请输入昵称"/>
				</div>
				<div class="unit">
					<label>　　头像：</label>
					<div class="fileInput" style="float:left;">
						<input name="face" type="hidden" value="{$data.info.face}" />
						<div class="fileCase">
							<img src="{$data.info.face_image}" style="border:0; max-width:120px; max-height:120px; border:1px solid #E1E4E6;" />
						</div>
					</div>
					<div style="float:left;width:150px;clear:left;margin-left:130px;">
						<input id="testFileInput" type="file" name="image"
							uploaderOption="{
								swf				: '/static/dwz/uploadify/scripts/uploadify.swf',
								uploader		: '{:url('transmit/upload')}',
								formData		: {php_session_id:'{:session_id()}'}, //附带参数
								buttonText		: '上传',
								fileSizeLimit	: '{:service('Transmit')->option('image','size')}B',
								fileTypeExts	: '{:service('Transmit')->option('image','ext_format')}',
								fileTypeDesc	: 'All Files',
								auto			: true, //自动上传
								multi			: false, //多文件上传
								dataType 		: 'json',
								onUploadSuccess : function(file, data, response){
									admin.transmit.uploadifySuccess(file, data, response, this);
								},
								onQueueComplete : function(settings){
									admin.transmit.uploadifyComplete(settings,this);
								},
							}"
						/>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
<script type="text/javascript">
	
$.extend(admin.open,{
	
});

</script>

